# mac file systems
.DS_Store

# compiled python codes
*.pyc
pydmd\.egg-info/**

.idea/**

**/\.ipynb_checkpoints/**
**/SegTrackv2.zip
**/SegTrackv2/**
build/**

# Vscode
.vscode/**


.venv
.python-version