name: "Coverage Deploy to Codacy"

on:
  push:
    branches:
      - master

jobs:
  test_deploy:
    runs-on: ubuntu-latest
        
    steps:
    - uses: actions/checkout@v2


    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install numpy scipy matplotlib pytest pytest-cov future ezyrb
        
    - name: Freeze!
      run: |
        python3 -m pip freeze

    - name: Test with pytest
      env:
        CODACY_API_TOKEN: ${{ secrets.CODACY_API_TOKEN }}
      shell: bash
      run: |
        python3 -m pytest --cov-report term --cov-report xml:cobertura.xml --cov=pydmd
        curl -s https://coverage.codacy.com/get.sh -o CodacyCoverageReporter.sh
        chmod +x CodacyCoverageReporter.sh
        ./CodacyCoverageReporter.sh report -r cobertura.xml  -t $CODACY_API_TOKEN
        
