name: Monthly Automated Tag

on:
  schedule:
    - cron: '20 2 1 * *'

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v4.1.7

    - name: Set up Python
      uses: actions/setup-python@v5.1.1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install .[test]

    - name: Test with pytest
      run: |
        pytest
        
  monthly_tag:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.NDEMO_PAT_TOKEN }}

      - name: Create and push the tag
        run: |
          # CalVer, e.g. 2024.07.19
          VERS=$(date +%Y.%m.%d)
          git config --global user.name 'Monthly Tag bot'
          git config --global user.email 'mtbot@noreply.github.com'
          git tag "$VERS" -a -m "Monthly version $VERS"
          git push origin "$VERS"
