name: "Testing Pull Request"

on:
  pull_request:
    branches:
      - "master"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4.5.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: setup.py

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip
        pip install .[test]

    - name: Test with pytest
      run: |
        pytest
